<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>繁星前端JS模板引擎</title>
<style>
body{ font: 14px/20px Microsoft YaHei, \5b8b\4f53, Arial, Verdana;}
body *{ font-family: Arial, Verdana;}
textarea{ width: 800px; height: 50px; padding: 10px; background: #f1f1f1; border-color: #ddd; font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; line-height: 20px; color: #333;}
h1{ font-size: 30px; text-align: center;}
h4{ font-size: 20px; font-weight: bold; background: #f1f1f1; padding: 5px;}
.b{font-weight: bold;}
.main{ width: 1000px; margin: 0 auto;}
</style>
</head>

<body>
<div class="main">
    <h1>fxtpl v1.0beta - 繁星前端JS模板引擎</h1>
    <p><a href="test.html" target="_blank">模板性能对比测试 >></a></p>
    <h4>fxtpl基本语法</h4>
    <p>fxtpl语法和后端PHP模板smarty类似，例如变量$开头，支持if、each等（fxtpl局部变量可以自定义，不一定要$开头）</p>
    <p class="b">1、输出变量（表达式）</p>
    <textarea style="height: 200px;">
        <div>歌手： {{$starName}}</div><!-- 直接输出模板变量 -->
        <div>代表歌曲： {{$songName|cut 10}}</div><!-- 应用模板辅助方法“cut”截取字符串，长度为10（超出部分用“...”代替） -->
        <div>得票数：{{$votes||'暂无'}}</div><!-- 应用JS原生“||”语法，相当于给它设置默认值为“暂无” -->
        <div>时间：{{$time.replace('/', '-')}}</div><!-- 应用JS原生方法 -->
        <div>晋级：{{$status == 1? '成功': '失败'}}</div><!-- 应用JS三元运算 -->
        <div>血槽高度：{{FX.kit.countHeightByVotes($votes)}}</div><!-- 应用外面FX.kit.countHeightByVotes方法 -->

        //var data = {starName : '周杰伦', songName : '七里香', ...}
    </textarea>
    <p class="b">2、if、if...else、if...elseif...，可多重嵌套</p>
    <textarea style="height: 200px;">
        //if
        {{if $liveStatus == '1'}}
            <div>直播中...</div>
        {{/if}}

        //if...else
        {{if $fxUserInfo}}
            <div>{{$fxUserInfo.name}}</div>
        {{else}}
            <div>未登录</div>
        {{/if}}

        //if...elseif
        {{if $liveStatus == '1'}}
            <div>直播中...</div>
        {{elseif $liveStatus == '2'}}
            <div>挂机中...</div>
        {{/if}}
    </textarea>
    <p class="b">3、each、each...index、each...as...index</p>
    <textarea style="height: 280px;">
        //each
        <ul>
        {{each $userList}}
            <li>名称：{{this.name}}；id：{{this.id}}</li>
        {{/each}}
        </ul>

        //each...index(index 是遍历数组或对象的索引，可省)
        <ul>
        {{each $userList index}}
            <li>序号：{{index}}；名称：{{this.name}}；id：{{this.id}}</li>
        {{/each}}
        </ul>

        //each...as...index(index 是遍历数组或对象的索引，可省)
        <ul>
        {{each $userList as user index}}
            <li>序号：{{index}}；名称：{{user.name}}；id：{{user.id}}</li>
        {{/each}}
        </ul>
    </textarea>
    <p class="b">4、include（引入子模板）</p>
    <textarea>
        //引入id为“msg”的子模板
        <div>您好，收到新消息： {{include 'msg', data}}</div>
    </textarea>
<h4>fxtpl API</h4>
<p class="b">1、.render(id, [data], [options])</p>
<pre>
/**
 * 渲染模板函数
 * @param string id 渲染模板的id，如果其为非script标签，即像Smarty模板一样直接填充HTML
 * @param json data 渲染模板的数据（可省，默认渲染FX.template.data域下的数据，即开启共享数据模式，直接传入data参数即不共享）
 * @param json options default: {
 *      isDebug: false, // 是否开启调式模式，参见#fxtpl 容错和调式
 *      isEscape: false, // 是否转义HTML代码（防XSS攻击）
 *      leftTag: '{{', // 左分隔符定义
 *      rightTag: '}}' // 右分隔符定义
 *   }
 * @return html
 */
</pre>
<textarea style="height: 280px;">
1、传统JS渲染模式

<!-- fxtpl 的模板 -->
<script id="fxtpl" type="text/tmpl">
<ul>
    {{each $list as data index}}
        <li>{{data.index}}. 用户: {{data.user}}/ 网站：{{data.site}}</li>
    {{/each }}
</ul>
</script>
<script>
//数据
var data = {
    list: [{
        index : 1,
        user : 'fanxing',
        site ：'http://fanxing.kugou.com/'
    },{
        index : 2,
        user : 'baidu',
        site ：'http://www.baidu.com/'
    }]
}
//渲染
var html = FX.template.render('fxtpl',data);
//把渲染的html填入需要的box
document.getElementById('box').innerHTML = html;
</script>

2、类Smarty渲染模式
<!-- 这里可先设置一个className，例如“fxtpl-hidden”实现渲染前隐藏（visibility: hidden;），渲染后模板引擎会自动设置显示（visibility:visible）。（P.S.为了兼容老版本，也会设置一个display:block的样式） -->
<div id="fxtpl" class="fxtpl-hidden">
{{if $userInfo}}
    <p>用户名：{{$userInfo.name}}</p>
    <p>等级：{{$userInfo.level}}</p>
{{/if}}
</div>
<script>
var data ={
    userInfo : {
        name : 'ada',
        level : 12
    }
}
//渲染
FX.template.render('fxtpl',data);
</script>
</textarea>
<p class="b">2、.compile(str, [data], [options])</p>
<pre>
/**
 * 编译字符串
 * @param string str 需编译的字符串
 * @return function 返回渲染匿名函数，可传data参数进行渲染
 */
</pre>
<textarea style="height: 280px;">
<script>
//数据
var data = {
    giftTo : 'ada',
    giftName : '十二朵玫瑰'
}
var str = '<div>恭喜{{$giftTo}}获得{{$giftName}}！</div>';
//编译
var render = FX.template.compile(str);
//渲染
var html = render(data);
//把渲染的html填入需要的box
document.getElementById('box').innerHTML = html;
</script>
</textarea>
<p class="b">3、.isEscape</p>
<pre>
/**
 * 模板输出的变量是否HTML转义，默认不转义
 * @config boolean
 */
</pre>
<textarea style="height: 280px;">
<!-- fxtpl 的模板 -->
<script id="fxtpl" type="text/tmpl">
<div>恭喜{{$giftTo}}获得{{$giftName}}！</div>
</script>
<script>
//数据
var data = {
    giftTo : '<b>ada</b>',
    giftName : '十二朵玫瑰'
}
//配置模板html转义
FX.template.isEscape = true;
//渲染
var html = FX.template.render('fxtpl',data);//'<b>ada</b>'转义成'&lt;ada&gt;'
//把渲染的html填入需要的box
document.getElementById('box').innerHTML = html;
</script>
</textarea>
<p class="b">4、.leftTag/.rightTag</p>
<pre>
/**
 * 定义模板左右分隔符，默认为“{{”和“}}”
 * @config string
 */
</pre>
<textarea style="height: 280px;">
<!-- fxtpl 的模板 -->
<script id="fxtpl" type="text/tmpl">
<div>恭喜<!--[$giftTo]-->获得<!--[$giftName]-->！</div>
</script>
<script>
//数据
var data = {
    giftTo : '<b>ada</b>',
    giftName : '十二朵玫瑰'
}
//自定义左分隔符
FX.template.leftTag = '<!--[';
//自定义右分隔符
FX.template.rightTag = ']-->';
//渲染
var html = FX.template.render('fxtpl',data);
</script>
</textarea>
<p class="b">5、.data</p>
<pre>
/**
 * 模板数据默认存放的域，如果.render(id, data)不传data，即从此域读取
 * 此域下所有1级变量在模板下均带“$”前缀，例如{user:{name:'ada'}}在模板为$user和$user.name
 * @return json
 */
</pre>
<p class="b">6、.cache</p>
<pre>
/**
 * 模板编译函数缓存区
 * 只缓存由模板id生成的编译函数，不缓存字符串生成的编译函数
 * @return json
 */
</pre>
<h4>fxtpl 辅助方法和扩展</h4>
<h4>fxtpl 容错和调式</h4>
<h4>fxtpl 注释</h4>
</div>
<!-- fxtpl 的模板 -->
<script id="fxtpl" type="text/tmpl">
<ul>
    {{ each $list as data index}}
        <li>{{data.index}}. 用户: {{data.user}}/ 网站：{{data.site}}</li>
    {{ /each }}
</ul>
</script>
<!-- artTemplate 的模板 -->
<script id="template" type="text/tmpl">
<ul>
    {{ each list as data index}}
        <li>{{data.index}}. 用户: {{data.user}}/ 网站：{{data.site}}</li>
    {{ /each }}
</ul>
</script>
<!-- baidu-template 的模板 -->
<script id="baidu-template" type="text/tmpl">
<ul>
    <% for (var val, i = 0, l = list.length; i < l; i ++) { %>
        <% val = list[i]; %>
        <li><%:=val.index%>. 用户: <%:=val.user%>/ 网站：<%:=val.site%></li>
    <% } %>
</ul>
</script>
<!--kissy 的模板 -->
<script id="kissy" type="text/tmpl">
<ul>
    {{#each list}}
        <li>{{index}}. 用户: {{user}}/ 网站：{{site}}</li>
    {{/each}}
</ul>
</script>
<!-- tmpl 的模板 -->
<script id="tmpl" type="text/tmpl">
<ul>
    <% for (var val, i = 0, l = list.length; i < l; i ++) { %>
        <% val = list[i]; %>
        <li><%=val.index%>. 用户: <%=val.user%>/ 网站：<%=val.site%></li>
    <% } %>
</ul>
</script>
<!--juicer 的模板 -->
<script id="juicer" type="text/tmpl">
<ul>
    {@each list as val}
        <li>$${val.index}. 用户: $${val.user}/ 网站：$${val.site}</li>
    {@/each}
</ul>
</script>

</body>
<script>
// 数据量
var length = 100;
// 渲染次数
var number = 1000;

var data = {
    list: []
};
for (var i = 0; i < length; i ++) {
    data.list.push({
        index: i,
        user: '<strong style="color:red">繁星</strong>',
        site: 'http://fanxing.kugou.com/',
        weibo: 'http://fanxing.kugou.com/weibo',
        QQweibo: 'http://fanxing.kugou.com/tqq'  
    }); 
};
//测试器
var testList = [
    {
        name: 'fxtpl 编译+渲染',
        tester: function () {
            var source = document.getElementById('fxtpl').innerHTML;
            
            //console.log(fn);
            for (var i = 0; i < number; i ++) {
                //console.log(fn(data));
                var fn = FX.template.compile(source);
                fn(data);
                //console.log(fn(data));
            }
        }
    },
    {
        name: 'artTemplate 编译+渲染',
        tester: function () {
            //template.isEscape = false;
            template.config('escape', false);
            var source = document.getElementById('template').innerHTML;
            
            //console.log(fn);
			for (var i = 0; i < number; i ++) {
                //console.log(fn(data));
                var fn = template.compile(source);
                fn(data);
                //console.log(fn(data));
            }
        }
    },
    {
        name: 'baiduTemplate 编译+渲染',
        tester: function () {
            var bt=baidu.template;
            bt.ESCAPE = false;
            for (var i = 0; i < number; i ++) {
                bt._compile('baidu-template');
                bt('baidu-template', data);
            }
        }
    },
    {
        name: 'tmpl 编译+渲染',
        tester: function () {
            var source = document.getElementById('tmpl').innerHTML;
            for (var i = 0; i < number; i ++) {
                var fn = tmpl(source);
                fn(data);
            }
        }
    },
    {
        name: 'juicer 编译+渲染',
        tester: function () {
            juicer.set('cache',false);

            var source = document.getElementById('juicer').innerHTML;
            for (var i = 0; i < number; i ++) {
                juicer(source, data);
            }
        }
    },
    {
        name: 'kissy 编译+渲染',
        tester: function () {
            KISSY.use('xtemplate',function(S,XTemplate,tpl){
                console.time('kissy 编译+渲染');
                var source= document.getElementById('kissy').innerHTML;
                
                for (var i = 0; i < number; i ++) {
                    var fn = new XTemplate(source,{cache:false,escape:false});
                    fn.render(data);
                }
                console.timeEnd('kissy 编译+渲染');
                test_result.innerHTML = '（注：kissy模板转义HTML不能关闭，故时间偏高一半左右）';
            });
        }
    }
];
/*KISSY.use('template',function(S,T) {
    testList.push({
        name: 'kissyTemplate',
        tester: function () {
            var source= document.getElementById('kissy').innerHTML;

            for (var i = 0; i < number; i ++) {
                T(source).render(data);
            }
        }
    });
});*/
var test_result = document.getElementById('test_log');
if(!window.console){
    window.console = {};
}
console.time = function(name){
    test_result[name] = new Date*1;
}
console.timeEnd = function(name){
    var endTime = (new Date*1 - test_result[name]);
    //test_result.innerHTML += name + endTime + 'ms<br/>';
    chart.series[0].addPoint({
        //color: colors.shift(),
        y: endTime
    });
}
function startTest(a){
    a.disabled = true;
    test_result.innerHTML = '测试中...';
    highchartsLog();
    tplTester(testList[0]);
}
function tplTester(ter){
    if(ter.name.indexOf('kissy')!==-1){
        ter.tester();
        return;
    }
    console.time(ter.name);
    ter.tester();
    console.timeEnd(ter.name);
    testList.shift();
    setTimeout(function(){
        testList[0] && tplTester(testList[0]);
    },500);
}
function highchartsLog(){
    //var colors = Highcharts.getOptions().colors;
    var categories = [];

    for (var i = 0; i < testList.length; i ++) {
        categories.push(testList[i].name);
    }

    window.chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_box',
            height: categories.length * 40,
            type: 'bar'
        },

        title: {
            text: 'JavaScript 模板引擎综合测试'
        },

        subtitle: {
            text: length + ' 条数据 × ' + number + ' 次编译+渲染'
        },
                
        xAxis: {
            categories: categories,
            labels: {
                align: 'right',
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },

        yAxis: {
            min: 0,
            title: {
                text: '耗时(毫秒)'
            }
        },

        legend: {
            enabled: false
        },

        tooltip: {
            formatter: function() {
                return '<b>'+ this.x +'</b><br/>'+
                    this.y + '毫秒';
            }

        },

        credits: {
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.y + 'ms';
                    }
                }
            }
        },
        series: [{
            data : []
        }]

    });
}
</script>
</html>
